.boring-links p{
    color:white;
    text-align: center;
}

.boring-text p,.boring-text h1,.boring-text h2{
    color:white;
    text-align:center;
}


#footer-container{
    background: linear-gradient(#444444,#111111 75%);
    border-top-style: solid;
    border-top-width: 3px;
    border-color: orangered;
    padding: 15px;
}
a:link{
    color:white;
}

a:visited{
    color:white;
}