/*Hoja de estilos BASE con estilos relevantes que se REUTILICEN en todas las páginas*/

/*Sobrescribe los textos H1 con las siguientes caracteristicas, igual hay que cambiarlo*/
h1{
    font-size: 5vw;
    color: orangered;
    text-align: center;
    font-family: 'Aclonica';
}
 .intentotitulo2{
                font-size: 4vw;
                color: black;
                text-align: center;
                font-family: 'Aclonica';
} 
/*Mierda del index que más adelante movere a un index.styles=========================================================================================*/

body {
    /*background-image: url("texturas/watercolor-green.jpg");*/
    background-color: #eeeeee;
}

#main-Cont{
    background-image: url("texturas/White-Noisy-Texture.jpg");
    background-color: antiquewhite;
    border-bottom: solid;
    border-right: solid;
    border-radius: 10px;
    border-color: grey;
}

#Cont1 {
    margin-top: 20px;
    font-family: 'Aclonica';
    font-size:1.6vw;
}

#Cont2 {
    margin-top:56px;
    height:100px;
    background-color: #BD551A;
    border-radius: 10px;
    margin-bottom:35px;
    font-size:2.6vw;
}
#textoInicio{
    font-size: 300%;
    font-family: 'Aclonica';
    text-align: center;
}