.blackText{
    color:black;
}

.row.menu{
    background: linear-gradient(#E1E3BD,#FFFFFF);
    padding:0px;
    overflow: hidden;
}

.row.menu *{
    padding: 0px;
    
}
.menu p{
    font-size: 2.5vw;
    font-family: 'Aclonica';
    text-align: center;
    margin-top: 30px;
}

#MenuSetContainer{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding:0px;
    overflow: hidden;
    border-style: solid;
    background-color:white;
}

.btn-menu{
    width: inherit;
    margin:0px;
    color:orangered;
    background-color: white;
    border-style: none;
    border-bottom-style: solid;
    border-color:orangered;
    border-bottom-width: 3px;
    border-radius: 0px;
    font-size: 200%;
}

.container.singleMenu{
    padding:0px;
}