:root{
    --theme-dark-6: #171717;
    --theme-dark-5: #1F1F1F;
    --theme-dark-4: #2B2B2B;
    --accent-color: orangered;
}

/*nav bar*/

.EP-navbar{
    height: 65px;
    width:100%;
    background-color:var(--theme-dark-5);
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color: yellowgreen;
}

#title-brand{
    margin-top:15px;
    font-size: 2.5vw;
}
#nav-tabs{
    height:65px;
    border-bottom-style: none;
}
#nav-tabs li{
    height:inherit;
    border-radius: 0px;
}

#nav-tabs li a{
    height:inherit;
    color: white;
    font-size: 1.7vw;
    border-radius:inherit;
}
#nav-tabs li a:hover{
    background-color: var(--theme-dark-4);
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--accent-color);
}
