/*Carousel de ofertas*/
#carousel-container{
    padding: 0px;
    margin-top:0px;
}
p.carousel{
    font-size: 300%;
    font-family: 'Aclonica';
}




/*Relaccionado con la zona con las cosas para pedir*/
#pedido-container{
    background-color: #FDFDFD;
    margin-top: 0px;
    padding:0px;
    overflow: hidden;
    align-content: center;
}
.image{
    position: relative;
    padding: 0px;
    
}

/*====================================================
BOTON CON ANIMACION
====================================================*/

.animated{
    position:relative;
    background-color: orangered;
    font-family: 'aclonica';
    padding: 10px;
    font-size:2.3vw;
    color:white;
    border-style: none;
    border-radius:5px;
    width:11vw;
    height:5vw;
    overflow:hidden;

}
.animated span:first-child{
    display: block;
    margin:-10 vw;
    opacity:1;
    transition: 1s;
}

.animated span:nth-child(2){
    display:block;
    position:absolute;
    left:0%;
    margin-top:4vw;
    opacity:0;
    width:inherit;
    height:inherit;
    font-size: 3.3vw;
    transition: 1s;
    

}
.animated:hover{
    color:orangered;
    background-color:white;
    border-style: solid;
    border-color: orangered;
    transition: color 0s;
}
.animated:hover span:first-child{
    margin-top:-25px;
    opacity:0;
}
.animated:hover span:nth-child(2){
    margin-top:1vw;
    opacity:1;
}

.animated:active {
    color:white;
    background-color:yellowgreen;
}
.animated:focus {
    outline:none;
}

.overlay-image{
    position:absolute;
    left:50%;
    margin-left:-5vw;
    bottom:1vw;
}

/*=======================================================
3 FASE BUTTON
=======================================================*/

.trifasic{
    width:11vw; 
    height: 5vw;
    background-color: orangered;
    border-radius: 5px;
    border-style: none;
    padding:10px;
    color:white;
    transition:0s;
    margin-left: 15vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.trifasic span:first-child{
    display:block;
    font-family: 'Aclonica';
    font-size: 2.6vw;
}

.trifasic span:nth-child(2){
    display: block;
    position:absolute;
    left:16vw;
    width:inherit;
    height:inherit;
    font-family: 'Aclonica';
    font-size: 2.6vw;
    opacity:0;
}

.trifasic:hover{
    border-style: solid;
    border-color:orangered;
    background-color: white;
    color:orangered;
    padding:8px;
}
.trifasic:focus{
    outline: none;
}

.trifasic_2{
    cursor:auto;
    border-radius:50%;
    height:5vw;
    width:5vw;
    background-color: white;
    border-style: solid;
    border-color:;
    
    border-top-color:orangered;
    border-width:1vw;
    margin-left: 19vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
    
    animation:spining-animation 1.5s linear infinite;
    animation-delay:0.6s;
    transition:1s;
}
.trifasic_2 span{
    display: none;
}

.trifasic_2:focus{
    outline:none;
}

@keyframes spining-animation{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.trifasic_3{
    
}
.trifasic_3 span:first-child{
    opacity:0;
}
.trifasic_3 span:nth-child(2){
    position:absolute;
    opacity:1;
    margin-top:-3.6vw;
}



/*=====================================================
BOTON PREVIO DESECHABLE
.order-button{
    position: absolute;
    left:50%;
    width:160px;
    margin-left: -80px;
    bottom: 20px;
    font-family: 'Aclonica';
    font-size: 200%;
    color:white;
    border-radius: 40px;
    border-width: 2px;
    border-color:darkred;
    background-color: orangered;
}
.order-button:hover{
    background-color: orangered;
}


/*Relativo a los menus desplegables de cada plato*/
.kebab-description{
    font-size: 2vw;
    font-family: 'Aclonica';
    text-align:center;
    margin: 20px;
}

.dropdown{
    font-size: 300%;
    font-family: 'Aclonica';
    color: orangered;
}

.collapse-font p{
    font-size: 2vw;
    font-family: 'Aclonica';
    text-align: center;
}

.order{
    margin-top:5px;
    font-family: 'Aclonica';
    font-size: 200%;
    color:white;
    border-radius: 5px;
    border-width: 2px;
    border-color: red;
    background-color: orangered;
}

/*.collapsing {
     -webkit-transition: none;
     transition: none;
}
/*Estilos de los grupos de botnes para elegir ingredientes*/
.btn-group button{
    margin-top: 4px;
    font-family: 'Aclonica';
}
.btn-group button:hover{
    background-color: chocolate;
    color:white;
}
.btn-group button.active{
    background-color: chocolate;
    color: white;
}
.btn-group button:focus{
    background-color: chocolate !important; 
    color:white !important;
    outline-width: 0px !important;
}
/*Hides the ball of the radio type inputs*/
input[type="radio"]{
    display: none;
}

/*Estilos asociados a la estructura de cantidad (numero con 2 flechas)*/
.input-group.cantidad{
    width:20%;
}
.input-group.cantidad button{
    padding-left: 7px;
    padding-right: 7px;
}
.input-group.cantidad button:hover{
    background-color: chocolate;
    color:white;
}
.input-group.cantidad button:focus{
    outline-width:0px !important;
}
input.form-control.cantidad{
    padding-top: 3px;
    padding-right:5px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 21px;
    margin-right: 24px;
}
/*=====================================================================================================
/*ABOUT US STYLES
/*===================================================================================================*/

/*======================================================================================================
/*MyOrder styles
/*====================================================================================================*/

.orderSummary{
    background-color: #FDFDFD;
    border-style: solid;
    border-top-style:none;
    border-bottom-color: orangered;
    border-left-color: black;
    border-right-color: black;
    padding: 10px;
    font-family: 'Aclonica';
    text-align: center;
    font-size: 200%;
}

.ingredient-thumb{
    width: 70px;
    border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    border-radius: 5px;
}