<!--incluimos los estilos del footer-->
<link rel = "stylesheet" type ="text/css" href ="css/footer_styles.css">


<!--Footer-->
        <div class="container-fluid" id="footer-container">
            <div class="row boring-text">
                <p>Pide comida desde casa en nuestra web y proximamente desde nuestra app</p>
            </div>
            <div class="row boring-links">
                <div class="col-xs-3">
                     <a href="informacion.html">INFORMATE</a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <p>SUGERENCIAS</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <p>ASÓCIATE CON NOSOTROS</p>
                    </a>
                </div>
            </div>
            <div class="row boring-text">
                <h2><b>Quiero Un Kebab</b></h2>
                <p style="font-size: 10px">Quiero Un Kebab.com copiright 2017 NO FUNCIONA. Todos los derechos reservados</p>
            </div>
        </div>