
<!--incluimos los estilos de la barra de navegación-->
<link rel = "stylesheet" type ="text/css" href ="css/navbar_styles.css">


<div class="container-fluid EP-navbar">
    <div class="row">
        <div class="col-xs-4">
            <h1 id="title-brand">QuieroUnKebab.com</h1>
        </div>
        <div class="col-xs-6 ">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li class="nav-item"><a href="index.php">Pedidos</a></li>
                <li class="nav-item"><a href="menus.php">Menus</a></li>
                <li class="nav-item"><a href="encuentranos.php">Sobre Nosotros</a></li>
            </ul>
        </div>
        <div class="col-xs-2">
             <ul class="nav nav-tabs" id="nav-tabs" style="position:absolute; right:5px;">
                 <li class="nav-item"><a href="myOrder.php">Mi Pedido</a></li>
            </ul>
        </div>
    </div>
</div>